<section class="hero is-danger is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <%= image_tag('logo.png') %>
      <h1 class="title is-bold">
        Kim Morano
      </h1>
      <span class="subtitle">
        <%=	 link_to 'About', 'about' %>
      </span>  |

      <span class="subtitle">
        <%=	 link_to 'Portfolio', 'gallery' %>
      </span>
    </div>
  </div>
</section>