<!DOCTYPE html>
<html>
  <head>
    <title>Kim Morano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="footer is-centered has-text-centered is-hidden-desktop">
    <span class="icon">
      <a href="http://www.facebook.com/ksmorano">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
    <span class="icon">
      <a href="https://www.linkedin.com/in/karmella-marie-morano-aa48009a/">
        <i class="fa fa-linkedin"></i>
      </a>
    </span>
    <span class="icon">
      <a href="http://www.facebook.com/ksmorano">
        <i class="fa fa-envelope"></i>
      </a>
    </span>
  </footer>
</html>
